.progress-indicatior {
  margin-top: 0.25rem;
  font-size: 1.1rem;
  font-weight: 800;
  position: absolute;
  right: 0%;
  left: 0%;
}

.progress-bar {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  place-content: center;
  max-width: 25rem;
  border: 1px solid LightSeaGreen;
  border-radius: 0.8rem;
}

.progress-bit {
  height: 2rem;
  background-color: transparent;
}

.bit-active {
  background-color: MediumAquamarine;
}

.bit-active:first-child {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.bit-last {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
