.progress-indicatior {
  font-size: 1.1rem;
  font-weight: 800;
  /* overlap with progress bar */
  position: absolute;
  width: 18rem;
  margin-top: 0.25rem;
  text-align: center;
}

.progress-bar {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  place-content: center;
  max-width: 18rem;
  border-radius: 0.8rem;
  background-color: AntiqueWhite;
}

.progress-bit {
  width: auto;
  height: 2rem;
  background-color: transparent;
}

.bit-active {
  background-color: BurlyWood;
}

.bit-active:first-child {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
}

.bit-last {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
