.question {
  height: 6rem;
  display: flex;
  place-items: center;
}

.question h3 {
  width: 100%;
}

.options-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-bottom: 3rem;
}

.correct {
  background-color: PaleGreen;
}

.wrong {
  background-color: Pink;
}
